<div id="<%= dom_id movie %>">
  <p>
    <strong>Nome:</strong>
    <%= movie.name %>
  </p>

  <p>
    <strong>Gênero:</strong>
    <%= movie.gender %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= movie.status %>
  </p>

  <p>
    <strong>Avaliação:</strong>
    <%= movie.assessment %>
  </p>

  <p>
    <strong>Comentário:</strong>
    <%= movie.comment %>
  </p>

</div>
