<div id="<%= dom_id movie %>">
  <p>
    <strong>Name:</strong>
    <%= movie.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= movie.gender %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= movie.status %>
  </p>

  <p>
    <strong>Assessment:</strong>
    <%= movie.assessment %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= movie.comment %>
  </p>

</div>
