<p style="color: green"><%= notice %></p>

<% content_for :title, "Filmes" %>

<h1>Filmes</h1>

<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
    <p>
      <%= link_to "Mostrar esse filme", movie %>
    </p>
  <% end %>
</div>

<%= link_to "Novo filme", new_movie_path %>
<p><%= link_to "Início", home_index_path %></p>
<%= will_paginate @movies %>