<div id="<%= dom_id game %>">
  <p>
    <strong>Nome:</strong>
    <%= game.name %>
  </p>

  <p>
    <strong>Plataforma:</strong>
    <%= game.platform %>
  </p>

  <p>
    <strong>Gênero:</strong>
    <%= game.gender %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= game.status %>
  </p>

  <p>
    <strong>Dificuldade:</strong>
    <%= game.difficulty %>
  </p>

  <p>
    <strong>Avaliação:</strong>
    <%= game.assessment %>
  </p>

  <p>
    <strong>Comentário:</strong>
    <%= game.comment %>
  </p>

</div>
