<p style="color: green"><%= notice %></p>

<% content_for :title, "Jogos" %>

<h1>Jogos</h1>

<div id="games">
  <% @games.each do |game| %>
    <%= render game %>
    <p>
      <%= link_to "Mostrar esse jogo", game %>
    </p>
  <% end %>
</div>

<%= link_to "Novo jogo", new_game_path %>
<p><%= link_to "Início", home_index_path %></p>
<%= will_paginate @movies %>