<p style="color: green"><%= notice %></p>

<%= render @game %>

<div>
  <%= link_to "Editar esse jogo", edit_game_path(@game) %> |
  <%= link_to "Voltar para jogos", games_path %>

  <%= button_to "Remover esse jogo", @game, data: { turbo_method: :delete, turbo_confirm: "Tem certeza?" } %>
</div>
