<div id="<%= dom_id filme %>">
  <p>
    <strong>Name:</strong>
    <%= filme.name %>
  </p>

  <p>
    <strong>Data launch:</strong>
    <%= filme.data_launch %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= filme.category %>
  </p>

  <p>
    <strong>Assessment:</strong>
    <%= filme.assessment %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= filme.status %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= filme.comment %>
  </p>

</div>
