<div id="<%= dom_id serie %>">
  <p>
    <strong>Name:</strong>
    <%= serie.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= serie.gender %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= serie.status %>
  </p>

  <p>
    <strong>Assessment:</strong>
    <%= serie.assessment %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= serie.comment %>
  </p>

</div>
