<div id="<%= dom_id serie %>">
  <p>
    <strong>Nome:</strong>
    <%= serie.name %>
  </p>

  <p>
    <strong>Gênero:</strong>
    <%= serie.gender %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= serie.status %>
  </p>

  <p>
    <strong>Avaliação:</strong>
    <%= serie.assessment %>
  </p>

  <p>
    <strong>Comentário:</strong>
    <%= serie.comment %>
  </p>

</div>
