<p style="color: green"><%= notice %></p>

<%= render @serie %>

<div>
  <%= link_to "Edit this serie", edit_serie_path(@serie) %> |
  <%= link_to "Back to series", series_path %>

  <%= button_to "Destroy this serie", @serie, method: :delete %>
</div>
