<p style="color: green"><%= notice %></p>

<%= render @serie %>

<div>
  <%= link_to "Editar essa série", edit_serie_path(@serie) %> |
  <%= link_to "Voltar para séries", series_path %>

  <%= button_to "Remover essa série", @serie, data: { turbo_method: :delete, turbo_confirm: "Tem certeza?" } %>
</div>
